# Nested Dictionary
[Source: https://www.programiz.com/python-programming/nested-dictionary ]

## nested_dictionary = {'key_1': 'value_1', 'key_2': 'value_2'}

In [1]:
# Create a dictionary
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

In [2]:
# Accessing Elements
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people[1]['name'])
print(people[1]['age'])
print(people[1]['sex'])

John
27
Male

In [3]:
# Adding an Element
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

people[3] = {}

people[3]['name'] = 'Luna'
people[3]['age'] = '24'
people[3]['sex'] = 'Female'
people[3]['married'] = 'No'

print(people[3])

{'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}

In [4]:
# Another example to add an Element
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
          3: {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}}

people[4] = {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}
print(people[4])

{'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}

In [5]:
# Deleting elements
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
          3: {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'},
          4: {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}}

del people[3]['married']
del people[4]['married']

print(people[3])
print(people[4])

{'name': 'Luna', 'age': '24', 'sex': 'Female'}
{'name': 'Peter', 'age': '29', 'sex': 'Male'}

In [6]:
# Delete dictionary from nested dictionary
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
          3: {'name': 'Luna', 'age': '24', 'sex': 'Female'},
          4: {'name': 'Peter', 'age': '29', 'sex': 'Male'}}

del people[3], people[4]
print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

In [7]:
# Iterate through nested dictionary
people = {1: {'Name': 'John', 'Age': '27', 'Sex': 'Male'},
          2: {'Name': 'Marie', 'Age': '22', 'Sex': 'Female'}}

# For loop, iterates through each record of dictionary
for p_id, p_info in people.items():
    print("\nPerson ID:", p_id)
    
    for key in p_info:
        print(key + ':', p_info[key])

Person ID: 1
Name: John
Age: 27
Sex: Male

Person ID: 2
Name: Marie
Age: 22
Sex: Female

In [9]:
# Create a dictionary with non-integer idex
people = {'a': {'name': 'John', 'age': '27', 'sex': 'Male'},
          'b': {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people)

people['c']= {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}

print(people)

{'a': {'name': 'John', 'age': '27', 'sex': 'Male'}, 'b': {'name': 'Marie', 'age': '22', 'sex': 'Female'}}
{'a': {'name': 'John', 'age': '27', 'sex': 'Male'}, 'b': {'name': 'Marie', 'age': '22', 'sex': 'Female'}, 'c': {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}}

# QUIZ
Print the Person ID for all records whose age are greater than 25.

The data is as follows:

    
ID, name, age, sex

1, John, 27, Male

2, Marie, 22, Female

3, Luna, 24, Female

4, Peter, 29, Male

In [2]:
# SOLUTION
# For loop, iterates through each record of dictionary
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
          3: {'name': 'Luna', 'age': '24', 'sex': 'Female'},
          4: {'name': 'Peter', 'age': '29', 'sex': 'Male'}}

for p_id, p_info in people.items():   
    for key in p_info:
        if (key == 'age' and int(p_info[key]) > 25):
            print('Person ID:', p_id, ' ', key + ':', p_info[key])

Person ID: 1   age: 27
Person ID: 4   age: 29

# HOMEWORK
With the same dataset of QUIZ do the following:

1. Replace 'John' with 'Kevin'

2. Delete 'Peter'

3. Add: 'Bala', 25, Male to the dictionary

4. *Advanced* Print 'Person ID' and 'Name' for Males above 25 years *HINT: You will need to use a True/False flag

In [26]:
# SOLUTION
# For loop, iterates through each record of dictionary
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
          3: {'name': 'Luna', 'age': '24', 'sex': 'Female'},
          4: {'name': 'Peter', 'age': '29', 'sex': 'Male'}}

# Question 1
people[1]['name'] = 'Kevin'
print("Answer 1: ", people[1])
print()

# Question 2
del people[4]
print("Answer 2: ", people)
print()

# Question 3
people[4] = {'name': 'Bala', 'age': '25', 'sex': 'Male'}
print("Answer 3: ", people)
print()

# Question 4
age_above_28 = False
print("Answer 4: ")
for p_id, p_info in people.items():   
    age_above_28 = False
    for key in p_info:
        if (key == 'age' and int(p_info[key]) > 25):
            age_above_28 = True
        if (key == 'sex' and p_info[key] == 'Male' and age_above_28 == True):
            print('Person ID:', p_id, ' ', 'Name:', p_info['name'], ' ', 'Sex:', p_info['sex'], ' ', p_info['age'])

Answer 1:  {'name': 'Kevin', 'age': '27', 'sex': 'Male'}

Answer 2:  {1: {'name': 'Kevin', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}, 3: {'name': 'Luna', 'age': '24', 'sex': 'Female'}}

Answer 3:  {1: {'name': 'Kevin', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}, 3: {'name': 'Luna', 'age': '24', 'sex': 'Female'}, 4: {'name': 'Bala', 'age': '25', 'sex': 'Male'}}

Answer 4:
Person ID: 1   Name: Kevin   Sex: Male   27